{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-idiomatic-order"
  ],
  "plugins": ["stylelint-order", "stylelint-prettier"],
  "rules": {
    "string-quotes": "single",
    "selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
    "declaration-colon-newline-after": "always-multi-line",
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto",
        "singleQuote": true
      }
    ]
  }
}
