# dependencies
/.pnp
/node_modules
.pnp.js

# testing
/coverage

# production
/docs/.vitepress/dist
/out

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# jetbrains
.idea

# vscode
.vscode
