@import '~@douyinfe/semi-ui/dist/css/semi.min.css';

html,
body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
svg,
img,
div {
  -webkit-user-drag: none;
  user-select: none;
}
