.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 5vw;
}

.fade-out {
  animation: fade-out 1.4s;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
