html {
    background-color: white;
    text-align: center;
    color: black;
}

body {
    margin: 0;
    color: black;
    overflow: hidden;
}

.internal-height {
    height: var(--internal-height) !important;
}

span,p{
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    cursor: default;
}

img{
    pointer-events: none;
}