.wrapper {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5vw;

  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
