.inRightBox {
  animation: slide-in-right 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  opacity: 0;
}

.inRightGo {
  animation: slide-in-right 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.2s
    forwards;
  opacity: 0;
}

.inBottomAdd {
  animation: slide-in-bottom 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.3s
    forwards;
  opacity: 0;
}

@keyframes slide-in-right {
  0% {
    opacity: 0;
    transform: translateX(1000px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slide-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(1000px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
