html {
  color: black;
  text-align: center;
  background-color: white;
}

body {
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden !important;
  color: #000;
}

div,
span,
p,
b,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  vertical-align: baseline;
  cursor: default;
}

p {
  margin: 20px 0;
}

img {
  pointer-events: none;
}

span,
input,
p {
  user-select: none;
}
